@import '../../shared/assets/styles/colors';

@mixin full-height {
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    
    .step-1{
        @include full-height();
        background:url('../../shared/assets/images/large/welcome-bg-1.jpg') no-repeat center center;
    }

    .step-2{
        @include full-height();
        background-color: $Color-Dark-Red;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-box {
            width: 350px;
            font-size: 1.2em;
        }
        
        .search-button{
            font-size: 1.2em;
            margin-left: .5em
        }
    }

    .step-3{
        @include full-height();
        background-color: $Color-Deep-Gray;
    }

    .fade {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.75);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .title {
            font-size: 5em;
            color: white;
        }

        .sub-title{
            font-size: 1.5em;
            color: rgb(214, 214, 214);
        }
    }
}
