<div class="wrapper">
  <div class="fade">
    <div class="hello">
      <div class="title">
        Are you a 
        <span style="color: blueviolet;">personal trainer</span> 
        looking to grow your client base? Sign up 
        <span style="color: blueviolet;">now</span>!</div>
      <!-- <div class="sub-title"> to work with new local clients...</div> -->
    </div>
    <div class="signup-container">
      <div class="form">
        <div class="label">registration</div>
        <input class="form-field" type="text" pInputText placeholder="Enter your first name">
        <input class="form-field" type="text" pInputText placeholder="Enter your last name">
        <input class="form-field" type="text" pInputText placeholder="Enter your e-mail">
        <input class="form-field" type="password" pInputText placeholder="Enter your password">
        <input class="form-field" type="number" pInputText placeholder="Enter your mobile">
        <!-- <p-dropdown [options]="gender" appendTo="body" placeholder="Select your gender"></p-dropdown> -->
      </div>
    </div>
  </div>
</div>