@mixin displayColumn {
    display: flex;
    flex-direction: column;
}

@mixin displayRow {
    display: flex;
    flex-direction: row;
}

@mixin formField {
    .form-field{
        font-size: 1.2em;
        margin-top: 1em;
        &:first-child{
            margin-top: 0;
        }
    }
}


.wrapper{
    display: flex;
    background: url('../../shared/assets/images/large/welcome-bg-2.jpg') no-repeat center center;
    background-size: cover;
    height:100vh;

    .fade{
        @include displayRow();
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.75);
        justify-content: center;
        align-items: center;

        .hello{
            @include displayColumn();
            justify-content: center;
            align-items: center;
            width: 60%;
            height: 100%;

            .title{
                color: white;
                font-size: 3em;
                text-align: center;
            }

            .sub-title{
                font-weight: bold;
                color: lightgray;
                font-size: 1.2em;
                margin-top: 1em;
            }
        }

        .signup-container{
            display: flex;
            width: 40%;
            height: 100%;
            justify-content: center;
            align-items: center;

            .form{
                @include displayColumn();
                background-color: rgba($color: blueviolet, $alpha: 0.15);
                width: 500px;
                height: 600px;
                border: 1px solid rgba($color: blueviolet, $alpha: 0.5);;
                border-radius: 3px;
                padding: 1em;
                justify-content: space-between;

                // Stepper
                .stepper{

                    .label{
                        text-align: center;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: white;
                        font-size: 1.2em;
                    }
                }

                //Steps
                .step-1{
                    @include displayColumn();
                    @include formField();

                    .gender{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        justify-items: center;
                        margin-top: 1em;
                        color:white;
                    }
                }

                .step-2{
                    @include displayColumn();

                    .form-control{
                        @include displayColumn();
                        .row{
                            @include displayRow();
                            justify-content: space-between;
                            align-items: center;
                            .label{
                                color: white
                            }
                            .total{
                                color: white;
                            }
                        }
                        .text-area{
                            font-size: 1.2em;
                            height: 95px;
                            width: 100%;
                            resize: none;
                            margin-top:.25em;
                            margin-bottom: .25em;
                        }
                    }
                }

                .step-3{
                    @include displayColumn();

                    .map{
                        border-radius: 4px;
                    }
                }

                .step-4{
                    @include displayColumn();
                    @include formField();
                }

                .step-5{
                    @include displayColumn();
                }

                // Action Button
                .next-btn{
                    background: blueviolet; 
                    border-color: blueviolet;
                    margin-bottom: 1em;

                    &:hover{
                        background: rgb(109, 34, 179); 
                        border-color: rgb(109, 34, 179);
                    }
                }
            }
        }
    }
}

//Steper
p-steps ::ng-deep div > ul > li.ui-steps-item.ui-state-highlight.ui-steps-current > a > span.ui-steps-number{
    background-color: blueviolet;
}

p-steps ::ng-deep > div > ul > li.ui-steps-item.ui-state-highlight.ui-steps-current > a > span.ui-steps-title{
    color: white;
}

p-slider ::ng-deep > div > span.ui-slider-range.ui-slider-range-min.ui-widget-header.ui-corner-all.ng-star-inserted{
    background-color: blueviolet;
}

agm-map {
    height: 310px;
  }