<div class="wrapper">
  <div class="fade">
    <div class="hello">
      <div class="title">
        Are you a
        <span style="color: blueviolet;">personal trainer</span>
        looking to grow your client base? Sign up
        <span style="color: blueviolet;">now</span>!</div>
      <!-- <div class="sub-title"> to work with new local clients...</div> -->
    </div>
    <div class="signup-container">
      <div class="form">
        <div>
          <div class="stepper">
            <div class="label">registration</div>
            <p-steps [model]="steps" [(activeIndex)]="formControl.stepIndex" [readonly]="false"
              styleClass="steps-custom">
            </p-steps>
          </div>
          <!-- Step 1 -->
          <div *ngIf="formControl.stepIndex == 0" class="step-1">
            <input class="form-field" type="text" pInputText placeholder="Enter your first name">
            <input class="form-field" type="text" pInputText placeholder="Enter your last name">
            <input class="form-field" type="text" pInputText placeholder="Enter your e-mail">
            <input class="form-field" type="password" pInputText placeholder="Enter your password">
            <input class="form-field" type="text" pInputText placeholder="Enter your mobile">

            <div class="gender">
              <p-radioButton name="group1" value="Option 1" label="Male" [(ngModel)]="val1" inputId="opt1">
              </p-radioButton>
              <p-radioButton name="group1" value="Option 2" label="Female" [(ngModel)]="val1" inputId="opt2">
              </p-radioButton>
              <p-radioButton name="group1" value="Option 3" label="Neutral" [(ngModel)]="val1" inputId="opt3">
              </p-radioButton>
            </div>
          </div>
          <!-- Step 2 -->
          <div *ngIf="formControl.stepIndex == 1" class="step-2">
            <div class="form-control">
              <div class="row">
                <div class="label">About you</div>
                <div class="total">500</div>
              </div>
              <textarea class="text-area" pInputTextarea pInputTextarea></textarea>
            </div>
            <div class="form-control">
              <div class="row">
                <div class="label">Qualifications</div>
                <div class="total">500</div>
              </div>
              <textarea class="text-area" pInputTextarea pInputTextarea></textarea>
            </div>
            <div class="form-control">
              <div class="row">
                <div class="label">Achievements</div>
                <div class="total">500</div>
              </div>
              <textarea class="text-area" pInputTextarea pInputTextarea></textarea>
            </div>
          </div>
          <!-- Step 3 -->
          <div *ngIf="formControl.stepIndex == 2" class="step-3">
            <!-- <div class="form-field"> -->
              <p-multiSelect [panelStyle]="{'width':'100%'}" [style]="{'width':'100%','margin-bottom':'1em'}"
                defaultLabel="Select specialities" appendTo="body"></p-multiSelect>
            <!-- </div>
            <div class="form-field"> -->
              <p-multiSelect [panelStyle]="{'width':'100%'}" [style]="{'width':'100%','margin-bottom':'1em'}"
                defaultLabel="Select services location" appendTo="body"></p-multiSelect>
            <!-- </div> -->
            <input class="form-field" type="text" pInputText placeholder="Enter your city" style="margin-bottom: 1em;">
            <div class="slider">
              <div class="slider-label">Distance: {{distance}} Km</div>
              <p-slider [(ngModel)]="distance" [min]="1" [max]="30" [style]="{'width':'100%'}"></p-slider>
            </div>
            <p-gmap [options]="mapOptions"
              [style]="{'width':'100%','height':'190px','border-radius':'4px','margin-top':'1em'}"></p-gmap>

          </div>
          <!-- Step 4 -->
          <div *ngIf="formControl.stepIndex == 3" class="step-4">
            <input class="form-field" type="text" pInputText placeholder="Enter your Facebook page">
            <input class="form-field" type="text" pInputText placeholder="Enter your Instagram page">
            <input class="form-field" type="text" pInputText placeholder="Enter your Twitter page">
          </div>
          <!-- Step 5 -->
          <div *ngIf="formControl.stepIndex == 4" class="step-5">
            {{formControl.stepLabel}}
          </div>
        </div>

        <!-- Action Button -->
        <button type="button" pButton label="{{formControl.stepLabel}}" class="next-btn"
          (click)="onNextStep()"></button>
      </div>
    </div>
  </div>
</div>